@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --bg-primary: #242423;
  --bg-secondary: #7678ed;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;
  --text-primary: #fbfffe;
  --text-secondary: #080708;
  --text-accent: #e8eddf;
  --text-inverse: #e8eddf
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Poppins;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
*,
::after,
::before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::-ms-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}
::after,
::before {
  --tw-content: ''
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}
body {
  margin: 0;
  line-height: inherit
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}
a {
  color: inherit;
  text-decoration: inherit
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}
button,
select {
  text-transform: none
}
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}
:-moz-focusring {
  outline: auto
}
:-moz-ui-invalid {
  box-shadow: none
}
progress {
  vertical-align: baseline
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
summary {
  display: list-item
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}
fieldset {
  margin: 0;
  padding: 0
}
legend {
  padding: 0
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
dialog {
  padding: 0
}
textarea {
  resize: vertical
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}
[role="button"],
button {
  cursor: pointer
}
:disabled {
  cursor: default
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}
img,
video {
  max-width: 100%;
  height: auto
}
[hidden]:where(:not([hidden="until-found"])) {
  display: none
}
.visible {
  visibility: visible
}
.static {
  position: static
}
.fixed {
  position: fixed
}
.absolute {
  position: absolute
}
.relative {
  position: relative
}
.block {
  display: block
}
.flex {
  display: flex
}
.inline-flex {
  display: inline-flex
}
.\!hidden {
  display: none!important
}
.hidden {
  display: none
}
.h-14 {
  height: 3.5rem
}
.h-\[37\.5px\] {
  height: 37.5px
}
.h-\[42\.5px\] {
  height: 42.5px
}
.h-\[45px\] {
  height: 45px
}
.h-full {
  height: 100%
}
.w-14 {
  width: 3.5rem
}
.w-\[45px\] {
  width: 45px
}
.w-\[47\.5px\] {
  width: 47.5px
}
.w-\[50px\] {
  width: 50px
}
.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.w-full {
  width: 100%
}
.transform {
  -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.resize {
  resize: both
}
.items-center {
  align-items: center
}
.justify-center {
  justify-content: center
}
.gap-3 {
  gap: .75rem
}
.gap-4 {
  gap: 1rem
}
.gap-5 {
  gap: 1.25rem
}
.rounded {
  border-radius: .25rem
}
.rounded-full {
  border-radius: 9999px
}
.bg-\[\#c7ffd8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(199 255 216 / var(--tw-bg-opacity,1))
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity,1))
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain
}
.text-left {
  text-align: left
}
.font-medium {
  font-weight: 500
}
.text-\[\#C7FFD8\] {
  --tw-text-opacity: 1;
  color: rgb(199 255 216 / var(--tw-text-opacity,1))
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity,1))
}
.outline {
  outline-style: solid
}
.blur {
  --tw-blur: blur(8px);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.transition {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,backdrop-filter,-webkit-transform,-webkit-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-transform,-webkit-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
body,
html {
  background-color: #000b58
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  margin: 0 auto
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  min-height: max(32px,min(2vw,50px))
}
.button.button-secondary {
  border: 2px solid #c7ffd8;
  padding: min(1vmin,2vmax) min(3vmin,6vmax);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: left;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity,1));
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.button.button-secondary:hover {
  color: #000b58;
  background-color: #c7ffd8
}
.button.button-secondary:active {
  background-color: #94ffb4;
  border-color: #94ffb4
}
.button.button-primary {
  border: 2px solid #c7ffd8;
  padding: min(1vmin,2vmax) min(3vmin,6vmax);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #c7ffd8;
  color: #000b58;
  font-weight: 500;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}
.button.button-primary:hover {
  color: #000b58;
  background-color: #94ffb4;
  border-color: #94ffb4
}
.button.button-primary:active {
  background-color: #61ff91
}
.shake {
  -webkit-animation: shake .2s infinite;
  animation: shake .2s infinite
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  25% {
    -webkit-transform: translate(-2px,2px);
    transform: translate(-2px,2px)
  }
  50% {
    -webkit-transform: translate(2px,-2px);
    transform: translate(2px,-2px)
  }
  75% {
    -webkit-transform: translate(-2px,-2px);
    transform: translate(-2px,-2px)
  }
  100% {
    -webkit-transform: translate(2px,2px);
    transform: translate(2px,2px)
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  25% {
    -webkit-transform: translate(-2px,2px);
    transform: translate(-2px,2px)
  }
  50% {
    -webkit-transform: translate(2px,-2px);
    transform: translate(2px,-2px)
  }
  75% {
    -webkit-transform: translate(-2px,-2px);
    transform: translate(-2px,-2px)
  }
  100% {
    -webkit-transform: translate(2px,2px);
    transform: translate(2px,2px)
  }
}
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(0,0,0,.2);
  z-index: 9999;
  display: none
}
.progress-bar {
  width: 0;
  height: 100%;
  background-color: #c7ffd8;
  transition: width 1s linear
}
img,
svg {
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.app__header .header-app__content {
  display: flex;
  align-items: center;
  gap: 20px
}
.app__header .header-app__logo {
  padding: .25rem
}
.app__header .header-app__logo img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%
}
.app__header .header-app__trade-image {
  padding: .375rem
}
.app__header .header-app__socials ul li a {
  transition: all .3s
}
.app__header .header-app__socials ul li a svg {
  width: min(5vmin,10vmax);
  height: min(4.5vmin,8vmax)
}
.app__sidebar {
  background-color: #22177a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.app__sidebar .sidebar-app__content ul {
  display: flex;
  height: 100%
}
.app__sidebar .sidebar-app__content ul a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(199,255,216,.2);
  border: 1.5px solid transparent;
  border-radius: min(1vmin,2vmax);
  transition: all .3s
}
.app__sidebar .sidebar-app__content ul a svg {
  max-width: 100%;
  width: 100%;
  height: 100%
}
.app__sidebar .sidebar-app__content ul a svg path {
  transition: all .3s
}
.app__sidebar .sidebar-app__content ul a:hover {
  border-color: #c7ffd8
}
.app__sidebar .sidebar-app__content ul a:hover svg path {
  stroke: #c7ffd8
}
.app__sidebar .sidebar-app__content ul a.active {
  border-color: #c7ffd8
}
.app__sidebar .sidebar-app__content ul a.active svg path {
  stroke: #c7ffd8
}
.app__body {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column
}
.app__body .body-app__header {
  text-align: center
}
.app__body .body-app__header p {
  font-size: min(4.75vmin,8.5vmax);
  color: #fff;
  font-weight: 600
}
.app__body .body-app__header p span {
  padding: 0 .625rem;
  text-transform: uppercase
}
.app__body .body-app__header h1 {
  font-size: min(8.5vmin,16vmax);
  font-weight: 700;
  color: #fff
}
.app__body .body-app__picture {
  position: relative;
  border-radius: 1.375rem;
  overflow: hidden;
  cursor: none
}
.app__body .body-app__picture .picture__blood {
  position: absolute
}
.app__body .body-app__picture .picture__cursor {
  position: absolute;
  top: 0;
  opacity: 0
}
.app__body .body-app__picture .picture__image {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  border-radius: 1.375rem
}
.app__body .body-app__picture .picture__image img {
  border-radius: 1.375rem;
  -o-object-fit: contain;
  object-fit: contain
}
.app__body .body-app__tokens-info p {
  font-weight: 600;
  color: #fff
}
.app__body .body-app__tokens-info p span {
  background-color: rgba(199,255,216,.2);
  border: 2px solid #c7ffd8;
  color: #c7ffd8;
  border-radius: .625rem;
  padding: min(.7vmin,1.5vmax) min(2vmin,3vmax)
}
.app__body .body-app__tokens-info>span {
  font-weight: 500;
  color: #fff;
  text-align: center;
  display: block
}
.app-roadmap {
  width: 100%;
  background: url(../img/roadmap-pc.png) -5% -5%/100% 100% no-repeat;
  min-height: min(40vmin,60vmax)
}
.roadmap-container {
  display: flex;
  justify-content: space-between;
  gap: min(3vmin,5vmax);
  max-width: min(175vmin,120vmax);
  margin: 0 auto;
  height: 100%
}
.roadmap-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex: 1
}
.roadmap-item:nth-child(even) {
  flex-direction: column-reverse;
  padding-bottom: min(3vmin,4vmax)
}
.roadmap-item p {
  color: #fff;
  font-weight: 600;
  font-size: min(2.4vmin,6vmax);
  max-width: min(18vmin,25vmax);
  text-align: center
}
.roadmap-item .circle {
  background-color: #c7ffd8;
  border: min(.8vmin,1.8vmax) solid #fff;
  border-radius: 50%;
  width: min(5vmin,7vmax);
  height: min(5vmin,7vmax);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000b58;
  font-weight: 700;
  font-size: min(2.5vmin,3.5vmax)
}
.sound-button {
  width: min(7vmin,12vmax);
  height: min(7vmin,12vmax);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #c7ffd8;
  position: absolute;
  bottom: 0
}
.sound-button:hover {
  color: #000b58;
  background-color: #94ffb4;
  border-color: #94ffb4
}
.sound-button:active {
  background-color: #61ff91
}
@media (min-width:31.24875em) {
  [class*=__container] {
    padding: 0 min(2vmin,2vmax)
  }
  .button {
    min-width: min(12vmin,20vmax);
    min-height: min(4vmin,10vmax)
  }
  .button.button-secondary {
    font-size: min(2vmin,4vmax)
  }
  .button.button-primary {
    font-size: min(2vmin,4vmax)
  }
  .app__header .header-app__content {
    justify-content: space-between
  }
  .app__header .header-app__logo {
    border-radius: min(.5vmin,1vmax)
  }
  .app__header .header-app__logo img {
    width: min(7vmin,12vmax);
    height: min(7vmin,12vmax)
  }
  .app__header .header-app__trade-image {
    width: min(7vmin,10vmax);
    min-width: min(7vmin,10vmax);
    height: min(7vmin,10vmax)
  }
  .app__header .header-app__trade p {
    font-size: min(2vmin,4vmax)
  }
  .app__sidebar .sidebar-app__content ul a {
    width: min(8vmin,12vmax);
    height: min(8vmin,12vmax);
    padding: min(2vmin,3vmax)
  }
  .app__body .body-app__picture .picture__image {
    width: min(50vmin,45vmax)
  }
  .app__body .body-app__picture .picture__image img {
    height: min(60vmin,35vmax)
  }
  .app__body .body-app__tokens-info p {
    font-size: min(4.25vmin,8.5vmax)
  }
  .sound-button {
    right: 2vmin
  }
}
@media (min-width:31.24875em)and (min-width:75em) {
  .app__body .body-app__tokens-info>span {
    font-size: 1.25rem
  }
}
@media (min-width:61.99875em) {
  .app__header {
    padding: min(.5vmin,1vmax) 0;
    background-color: #22177a;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
  }
  .app__sidebar {
    min-width: min(12vmin,14vmax);
    min-height: 100vmin;
    display: flex;
    justify-content: center
  }
  .app__sidebar .sidebar-app__content ul {
    flex-direction: column;
    justify-content: space-evenly
  }
  .app__content {
    display: flex
  }
  .app__body:not(.body-app-py) {
    padding: min(12vmin,15vmax) min(2vmin,4vmax) min(2vmin,4vmax)
  }
  .app__body.body-app-py {
    padding: min(12vmin,15vmax) 0
  }
  .app__body .body-app__picture .picture__blood img {
    min-width: min(15vmin,30vmax);
    width: min(15vmin,30vmax);
    height: min(15vmin,30vmax)
  }
  .app__body .body-app__picture .picture__cursor img {
    min-width: min(30vmin,40vmax);
    width: min(30vmin,40vmax);
    height: min(30vmin,40vmax)
  }
}
@media (min-width:640px) {
  .sm\:block {
    display: block
  }
  .sm\:flex {
    display: flex
  }
  .sm\:gap-10 {
    gap: 2.5rem
  }
}
@media (min-width:768px) {
  .md\:gap-24 {
    gap: 6rem
  }
}
@media (min-width:1024px) {
  .lg\:flex {
    display: flex
  }
  .lg\:hidden {
    display: none
  }
}
@media (min-width:75em) {
  .app__body .body-app__tokens-info {
    margin-top: 1.875rem
  }
  .app__body .body-app__tokens-info>span {
    margin-top: 1rem
  }
}
@media (min-width:90em) {
  .app__header .header-app__trade {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }
}
@media (max-width:20em) {
  .app__body .body-app__tokens-info {
    margin-top: 1.25rem
  }
  .app__body .body-app__tokens-info>span {
    margin-top: .625rem
  }
}
@media (max-width:61.99875em) {
  .app__header {
    padding: min(2vmin,3vmax) 0
  }
  .app__header .header-app__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: min(2vmin,4vmax);
    margin-bottom: min(2vmin,4vmax)
  }
  .app__sidebar {
    width: 100%;
    padding: min(.5vmin,1vmax);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.45)
  }
  .app__sidebar .sidebar-app__content ul {
    justify-content: space-around;
    width: 100%
  }
  .app__body:not(.body-app-py) {
    padding: min(2vmin,4vmax)
  }
  .app__body.body-app-py {
    padding: min(2vmin,4vmax) 0
  }
  .app__body .body-app__picture .picture__blood img {
    min-width: min(10vmin,20vmax);
    width: min(10vmin,20vmax);
    height: min(10vmin,20vmax)
  }
  .app__body .body-app__picture .picture__cursor img {
    min-width: min(20vmin,40vmax);
    width: min(20vmin,40vmax);
    height: min(20vmin,40vmax)
  }
}
@media (max-width:31.24875em) {
  [class*=__container] {
    padding: 0 min(4vmin,6vmax)
  }
  .button {
    min-width: min(20vmin,30vmax);
    min-height: min(8vmin,20vmax)
  }
  .button.button-secondary {
    font-size: min(4vmin,7vmax)
  }
  .button.button-primary {
    font-size: min(4vmin,7vmax)
  }
  .app__header .header-app__content {
    justify-content: flex-end
  }
  .app__header .header-app__wrapper {
    gap: min(4vmin,4vmax)
  }
  .app__header .header-app__logo {
    border-radius: min(1vmin,2vmax)
  }
  .app__header .header-app__logo img {
    width: min(12vmin,15vmax);
    height: min(12vmin,15vmax)
  }
  .app__header .header-app__trade-image {
    width: min(10vmin,14vmax);
    min-width: min(10vmin,14vmax);
    height: min(10vmin,14vmax)
  }
  .app__header .header-app__trade p {
    font-size: min(3vmin,5vmax)
  }
  .app__sidebar {
    padding: min(2vmin,3vmax)!important
  }
  .app__sidebar .sidebar-app__content ul a {
    padding: min(2.5vmin,4vmax);
    width: min(12vmin,16vmax);
    height: min(12vmin,16vmax)
  }
  .app__body:not(.body-app-py) {
    padding: min(8vmin,6vmax) min(2vmin,4vmax) min(2vmin,4vmax)
  }
  .app__body.body-app-py {
    padding: min(8vmin,6vmax) 0
  }
  .app__body .body-app__picture .picture__image {
    width: min(70vmin,60vmax)
  }
  .app__body .body-app__picture .picture__image img {
    height: min(85vmin,65vmax)
  }
  .app__body .body-app__tokens-info p {
    font-size: min(6.25vmin,10.5vmax)
  }
  .app__body .body-app__tokens-info>span {
    font-size: min(4vmin,6vmax)
  }
  .sound-button {
    right: 0;
    min-width: 2.125rem;
    min-height: 2.125rem
  }
  .sound-button img {
    width: 80%;
    height: 80%
  }
}
@media (min-width:20em)and (max-width:75em) {
  .app__body .body-app__tokens-info {
    margin-top: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .app__body .body-app__tokens-info>span {
    margin-top: clamp(.625rem ,.4886363636rem + .6818181818vw ,1rem)
  }
}
@media (min-width:31.24875em)and (min-width:20em)and (max-width:75em) {
  .app__body .body-app__tokens-info>span {
    font-size: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
}
@media (min-width:31.24875em)and (max-width:20em) {
  .app__body .body-app__tokens-info>span {
    font-size: .625rem
  }
}
@media (any-hover:hover) {
  .app__header .header-app__socials ul li a:hover {
    -webkit-transform: translateY(-.3125rem);
    transform: translateY(-.3125rem)
  }
}